
body{
    padding-bottom: 20px;
    color: #5a5a5a;
}

.navbar-wrapper{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 20;
}

.navbar-wrapper .navbar .container{
    width: 100%;
}

.navbar-wrapper .navbar{
    padding-right: 20px;
    padding-left: 20px;
}

.navbbar-wrapper > .container {
    padding-right: 0px;
    padding-left: 0px;
}

.carousel{
    height: 500px;
    margin-bottom: 50px;
}


.carousel-inner > .carousel-item > img{
    position: absolute;
    height: 500px;
    min-width: 100%;
    top: 0;
    left: 0;
}

.carousel-item{
    height: 500px;
    background-color: #777;
}

.team .col-lg-4{
    text-align: center;
    margin-bottom: 20px;
}

.team h2{
    color: rgba(50, 50, 50, 0.8);
}

.team p{
    margin-left: 10px;
    margin-right: 10px;
}

.divider{
    margin: 5px 0px;
}

.mickey{
    padding: 50px;
    text-align: center;
    padding-top: 80px;
}

.content{
    margin-bottom: 30px;
}

.resize{
    border-radius: 50%;
    height:140px;
    width:140px;
}

footer{
    margin: 0 110px;
}